@model FinalModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! TODO: List, Map</h1>
    @{
        <p>City: @Model.City</p>
        <p>Latitude: @Model.Lat</p>
        <p>Longitude: @Model.Lon</p>
        <p>Description: @Model.Description</p>
        <p>Temperature: @Model.Temperature °C | @((Model.Temperature*1.8f + 32f).ToString("N2")) °F</p>
        <p>Pressure: @Model.Pressure hpa</p>
        <p>Humidity: @Model.Humidity%</p>
        <p>Wind Speed: @Model.Wind m/s | @((Model.Wind*3.6f).ToString("N2")) km/h</p>
    }
</div>

